body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica;
}
.main-div {
}
.div1 {
}
.div2 {
}
.div3 {
}
.pay-way {
}
.block {
}
.links-text {
}
.last-div {
}